DATABASE_URL="postgresql://postgres.rmbtjybjvzwjjzoumtvi:g+ZA6*7+)th!-ar@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres"
DIRECT_URL="postgresql://postgres.rmbtjybjvzwjjzoumtvi:g+ZA6*7+)th!-ar@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"